.status{position:absolute;left:0;right:0;top:0;bottom:0;overflow:hidden;}
.status-list{position:absolute;left:14px;right:4px;top:33px;bottom:0;overflow:hidden;font-size:11px;font-weight:900;line-height:17px;}
.status-row{display:block;position:relative;width:100%;height:17px;text-align:left;font-size:11px;font-weight:900;line-height:17px;white-space:nowrap;overflow:hidden;}
.status-name{display:inline-block;width:75px;overflow:hidden;text-overflow:ellipsis;vertical-align:top;}
.status-value{display:inline-block;width:58px;overflow:hidden;text-overflow:ellipsis;vertical-align:top;}
