
#fitStage{
  width:100vw;
  height:100vh;
  overflow:hidden;
  position:relative;
  background:#fff;
}

#topBand{
  position:absolute;
  left:0;
  top:0;
  width:100vw;
  height:106px;
  background:#2f6fae;
  z-index:0;
}

#appCanvas{
  z-index:1;
  position:absolute;
  left:0;
  top:0;
  width:952px;
  height:728px;
  background:transparent;
  overflow:hidden;
  transform-origin:top left;
}

.topbar{
  position:absolute;
  left:0;
  top:0;
  width:952px;
  height:106px;
  background:transparent;
  z-index:2;
}
